<html>
    <head>
        <h1>Recipe Book</h1>
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <h2>Logout Page</h2>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">LOGOUT</button>
            </form>
        {% else %}
            <h2>Login Page</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
                <h3>
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                </h3>
            </form>
        {% endif %}
    </body>
</html>