
{% extends 'base.html' %}
{% load static %}
{% block title %}Recipe Detail{% endblock %}
{% block content %}
    <body>
        {% if request.user.is_authenticated %}
            <h1>Recipe Detail</h1>
            <h2>Created by: {{ object.get_author }}</h2>
            <h3>Ingredients: </h3>
            <ul>
                {% for ingredient in object.ingredients.all %}
                <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <a href="{% url 'login' %}">LOGIN</a>
        {% endif %}    
    </body>
{% endblock %}
